*{
  padding:0;
  margin:0;
  box-sizing:border-box;
  font-family:gilroy;
}
html,body{
  height:100%;
  width:100%;
}
.instacontainer{
    display: flex;
}
.left{
    height:100vh;
    width:20vw;
}
.right{
    height:100%;
    width:80vw;
}
.topnav{
    display: flex;
    height: 7vh;
    width:100%;
    padding:10px;
    justify-content: space-between;
}
.topnavleft{
    height:100%;
    width:25%;
    border: 2px solid black;
    border-radius: 20px;
    overflow: hidden;
}
.input{
    display: flex;
    padding:7px;
}
input{
    border: none;
}
.textsearch{
    border: none;
    width:100%;
}
.topnavright{
    width:20%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.topnavright i{
    font-size: 20px;
}
.topnavright button{
    background-color:#DF0D73;
    color: #fff;
    border: none;
    padding:10px;
    border-radius: 20px;
    width:auto;
}
.bottomnav{
    height:20vh;
    width:100%;
    padding:10px;
    position: fixed;
}
.bottomnav p{
    margin-bottom: 10px;
    font-size:large;
}
.storiescontainer{
    height:15vh;
    width:100%;
    display: flex;
    gap:10px;
    flex-shrink: 0;
    overflow:auto;
    scrollbar-width: none;
}
.storycircle{
    height: 50px;
    width:50px;
    border:2px solid #DF0D73;
    border-radius: 50%;
}
.storycircle img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.storycontainer{
    height:100%;
    width:90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    gap:2px;
    flex-shrink: 0;
}
.lefttop{
    height:10vh;
    width:100%;
}
.leftmid{
    height:45vh;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile{
    height:100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.stats{
    height:30%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    border:1fr solid black;
}

.desc{
    height:20%;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}
.photo{
    width:100px;
    height:100px;
    background-image: url("https://plus.unsplash.com/premium_photo-1673198010333-3edb81ec7487?q=80&w=764&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
}
.leftbottom{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    padding-left:30px;
    height:45vh;
    width:100%;
    text-decoration: none;
    color: black;
}
.leftbottom a{
    text-decoration: none;
    color:black;
}
.lefttop{
    width:100%;
    height:5vh;
}
.instalogo{
    gap:20px;
    padding: 10px;
    display:flex;
}


/* post */
.feedsection{
    position: relative;
    top:20vh;
    height:60vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.postcontainer{
    width:70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    overflow: scroll;
}
.postcontainer::-webkit-scrollbar{
    display: none;
}
.posts{
    margin-bottom:150px;
    width:80%;
    height:80%;
}
.pfp{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.cir{
    height:50px;
    width:50px;
    border-radius: 50%;
    background-image: url("https://images.unsplash.com/photo-1560250097-0b93528c311a?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
}
.pfp h1{
font-size: 20px;
}
.post-image{
height: 100%;
width: 100%;
background-color: antiquewhite;
border-radius: 10px;
}
.post-image img{
height: 100%;
width: 100%;
object-fit: cover;
}
.engagement-section{
height: 5vh;
padding: 10px;
width: 100%;
}
.caption{
    width:100%;
    height:auto;
}